.recorder {
  overflow: hidden;
  height: 44%;
  text-align: center;
}

.recorder-controllers button {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 10px;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  border-radius: 50%;
  background-color: transparent;
  border: none;
}

.recorder-controllers button:active {
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
}

.recorder-animation {
  display: none;
}

.recorder-timer {
  height: 80px;
  margin-bottom: 5px;
}

.recorded-audio {
  position: relative;
  height: 34px;
}

.recorded-audio audio {
  height: 34px;
}

.recorded-audio span {
  display: none;
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  padding: 2px 15px 0;
  font-size: 11px;
}

.recorded-audio audio {
  border-radius: 54px;
}

.guest-msg p {
  margin: 10px 0;
  font-size: 12px;
}

@media only screen and (min-width: 680px) {
  .recorder {
    height: 100%;
    width: 50%;
    display: flex;
    padding: 15px;
    justify-content: center;
    flex-direction: column;
  }
  
  .recorder-animation {
    display: block;
    position: relative;
    height: 50px;
  }

  .recorder-timer {
    margin-bottom: 15px;
  }

  .recorded-audio {
    height: 54px;
    margin-top: 15px;
  }

  .recorded-video  {
    overflow: hidden;
    max-width: 100%;
    height: 300px;
    margin-bottom: 15px;
  }

  .recorded-video video {
    height: 100%;
  }

  .recorded-audio span {
    display: block;
  }

  .guest-msg p {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1280px) {
  .recorder {
    width: 60%;
  }
}