.recorder {
  display: flex;
  width: 60%;
  padding: 15px;
  overflow: hidden;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.recorder-controllers button {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 10px;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  border-radius: 50%;
  background-color: transparent;
  border: none;
}

.recorder-controllers button:active {
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
}

.recorder-animation {
  position: relative;
  height: 50px;
}

.recorder-timer {
  height: 80px;
  margin-bottom: 35px;
}

.recorded-audio {
  position: relative;
  height: 54px;
  margin-top: 15px;
}

.recorded-audio span {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  padding: 2px 15px 0;
  font-size: 11px;
}

.recorded-audio audio {
  border-radius: 54px;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
}

.guest-msg p {
  margin: 10px 0;
  font-size: 14px;
}

.time-spinner {
  margin: 0;
  line-height: 1;
  font-size: 5rem;
}

.time-spinner span {
  display: inline-block;
  vertical-align: middle;
}

.clock-colon {
  padding-bottom: 14px;
}

/* .recorder-controllers .start-video {
  background-color: #f8f9fa;
}

.recorder-controllers .start-record {
  background-color: #ffc107;
}

.recorder-controllers .stop-record {
  background-color: #dc3545;
}

.recorder-controllers .file-upload {
  background-color: #0d6efd;
} */