#bars {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 30px;
  margin: -15px 0 0 -20px;
}

.bar {
  background: #8e24aa;
  /* #00d3ee */
  bottom: 1px;
  height: 3px;
  position: absolute;
  width: 5px;
  animation: sound 0ms -800ms linear infinite alternate;
}

.bar:nth-child(1) {
  left: 3px;
  animation-duration: 474ms;
}

.bar:nth-child(2) {
  left: 7px;
  animation-duration: 433ms;
}

.bar:nth-child(3) {
  left: 11px;
  animation-duration: 407ms;
}

.bar:nth-child(4) {
  left: 15px;
  animation-duration: 458ms;
}

.bar:nth-child(5) {
  left: 19px;
  animation-duration: 400ms;
}

.bar:nth-child(6) {
  left: 23px;
  animation-duration: 427ms;
}

.bar:nth-child(7) {
  left: 27px;
  animation-duration: 441ms;
}

.bar:nth-child(8) {
  left: 31px;
  animation-duration: 419ms;
}

.bar:nth-child(9) {
  left: 35px;
  animation-duration: 487ms;
}

.bar:nth-child(10) {
  left: 39px;
  animation-duration: 442ms;
}

@keyframes sound {
  0% {
    opacity: 0.35;
    height: 3px;
  }
  100% {
    opacity: 1;
    height: 28px;
  }
}