.controls-container {
  width: 100%;
  height: 40%;
  display: flex;
  text-align: center;
  padding: 15px;
  flex-direction: column;
  justify-content: center;
}

.recorder-waves {
  position: relative;
  height: 50px;
}

.recording-time {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}

.clock-colon {
  padding-bottom: 20px;
}

.cancel-button-container {
  animation-name: animated-block;
  animation-duration: 2s;
}

.start-button-container {
  padding: 15px 0;
}

.start-button,
.cancel-button {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
              0px 6px 10px 0px rgb(0 0 0 / 14%),
              0px 1px 18px 0px rgb(0 0 0 / 12%);
  color: #ffffff;
  cursor: pointer;
}

.start-button {
  background: #4caf50;
}

.cancel-button {
  background: #f44336;
}

.cancel-button:hover {
  background: #ffffff;
  color: #fd1c03;
}

.start-button:hover {
  color: #4caf50;
  background-color: #ffffff;
}

.start-button,
.cancel-button {
  width: 40px;
  height: 40px;
}

@keyframes animated-block {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (min-width: 680px) {
  .controls-container {
    width: 60%;
    height: 100%;
  }
  .recording-time {
    font-size: 8rem;
  }
}