.records-files::-webkit-scrollbar {
  width: 5px;
}

.records-files::-webkit-scrollbar-track {
  background: #dddddd;
}

.records-files::-webkit-scrollbar-thumb {
  background: #000000;
}

.records-list {
  height: 56%;
  width: 100%;
}

.records-files {
  height: calc(100% - 54px);
  margin-top: 20px;
  overflow: hidden;
  overflow-y: auto;
}

.audiofile-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.audioFile {
  position: relative;
  z-index: 0;
  width: 100%;
  margin-bottom: 20px;
}

.audioFile audio {
  position: relative;
  z-index: 2;
  left: 2%;
  width: 96%;
  height: 44px;
  border-radius: 17px;
}

.audioFile span {
  position: absolute;
  z-index: 1;
  top: 42px;
  left: 20px;
  padding: 4px 10px;
  font-size: 10px;
}

.audiofile-wrapper p {
  font-size: 12px;
}

@media only screen and (min-width: 680px) {
  .records-list {
    height: 100%;
    width: 50%;
    padding: 20px;
  }

  .audiofile-wrapper p {
    font-size: 16px;
  }

  .audioFile {
    width: 50%;
  }
  .records-files {
    height: calc(100% - 74px);
  }
}

@media only screen and (min-width: 1280px) {
  .records-list {
    width: 40%;
  }
}