.records-files::-webkit-scrollbar {
  width: 5px;
}

.records-files::-webkit-scrollbar-track {
  background: #dddddd;
}

.records-files::-webkit-scrollbar-thumb {
  background: #000000;
}

.records-list {
  width: 40%;
  padding: 20px;
}

.records-files {
  height: calc(100% - 74px);
  margin-top: 20px;
  overflow: hidden;
  overflow-y: auto;
}

.audiofile-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.audioFile {
  position: relative;
  z-index: 0;
  width: 50%;
  margin-bottom: 25px;
}

.audioFile audio {
  position: relative;
  z-index: 2;
  left: 2%;
  width: 96%;
  height: 34px;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  border-radius: 17px;
}

.audioFile span {
  position: absolute;
  z-index: 1;
  top: 32px;
  left: 20px;
  padding: 4px 10px;
  font-size: 10px;
}