.google-auth {
  padding: 5px 0;
  font-size: 0.8rem;
}

.google-logo {
  font-size: 1.5rem;
}

.google-auth button {
  display: flex;
  margin: 5px 0;
  padding: 0 10px;
  border: none;
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  align-items: center;
}

.google-auth span {
  padding-left: 10px;
}

@media only screen and (min-width: 680px) {
  .google-auth {
    display: flex;
    align-items: center;
    padding: 0;
    font-size: 1rem;
  }

  .google-logo {
    font-size: 2rem;
  }

  .google-auth button {
    margin: 0;
    margin-left: 10px;
  }
}