.google-auth {
  padding: 5px 0;
  font-size: 0.8rem;
}

.google-auth p {
  margin: 5px 0;
}

.google-logo {
  font-size: 1.5rem;
}

.google-auth button {
  display: flex;
  margin: 5px 0;
  padding: 0 10px;
  transition: 0.3s ease;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  align-items: center;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  color: var(--error);
  background-color: transparent;
}
.google-auth button:active {
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
}

.google-auth span {
  padding-left: 10px;
}

@media only screen and (min-width: 680px) {
  .google-auth {
    display: flex;
    align-items: center;
    padding: 0;
    font-size: 1rem;
  }

  .google-logo {
    font-size: 2rem;
  }

  .google-auth button {
    margin: 0;
    margin-left: 10px;
  }
}