header {
  position: relative;
  z-index: 99;
  /* box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
              0px 4px 5px 0px rgb(0 0 0 / 14%),
              0px 1px 10px 0px rgb(0 0 0 / 12%);
  background: #ffffff; */
  box-shadow: 0rem 0.8rem 1.4rem var(--greyLight-2), -0.2rem -0.2rem 1.8rem var(--white);
}

header h1 {
  margin: 5px 0;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (min-width: 680px) {
  header h1 {
    margin: 15px 0;
  }
}