.google-login-button {
  padding: 5px 0;
  font-size: 0.8rem;
}

.google-logo {
  font-size: 1.5rem;
}

.google-login-button button {
  display: flex;
  margin: 5px 0;
  padding: 5px 10px;
  border: none;
  background: #ea4335;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  align-items: center;
}

.google-login-button button:hover {
  background: #ff1804;
}

.google-login-button span {
  padding-left: 10px;
}

@media only screen and (min-width: 680px) {
  .google-login-button {
    display: flex;
    align-items: center;
    padding: 0;
    font-size: 1rem;
  }

  .google-logo {
    font-size: 2rem;
  }

  .google-login-button button {
    margin: 0 0 0 15px;
    padding: 5px 10px;
  }
}