.recordings-container {
  width: 40%;
  border-right: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}

.recordings-container h1 {
  margin-bottom: 1rem;
  text-align: center;
}

.no-records {
  height: 100%;
  display: grid;
  place-content: center;
  place-items: center;
  font-size: 1rem;
  text-align: center;
}

.no-records span {
  padding-top: 15px;
}

.recordings-list::-webkit-scrollbar {
  width: 5px;
}

.recordings-list::-webkit-scrollbar-track {
  background: #e4d3cf;
}

.recordings-list::-webkit-scrollbar-thumb {
  background: #099fff;
}

.recordings-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem 0.5rem;
  overflow-y: auto;
}

.accordian-title {
  padding: 15px;
  font-weight: bold;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

.accordian-title span {
  padding-left: 15px;
}

.record {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 0.5rem;
  background: #ffffff;
}

.record:last-child {
  padding-bottom: 0;
}

.record audio {
  min-width: 90%;
  max-width: 70%;
  height: 40px;
}

.delete-button-container {
  min-width: 10%;
  max-width: 10%;
  display: grid;
  place-content: center;
}

.delete-button {
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.delete-button:hover {
  color: #fd1c03;
}