.recorder-timer {
  height: 80px;
  margin-bottom: 35px;
}

.time-spinner {
  margin: 0;
  line-height: 1;
  font-size: 4rem;
  font-family: 'Digital Seven', sans-serif;
}

.time-spinner span {
  display: inline-block;
  vertical-align: middle;
}

@media only screen and (min-width: 680px) {
  .time-spinner {
    font-size: 5rem;
  }
}